<!-- header.html -->
<a class="top-left-link" href="/" rel="noopener noreferrer">Blog</a>
<a class="top-left-link" href="https://github.com/bcionescu" target="_blank" rel="noopener noreferrer">GitHub</a>
<a class="top-center-link" href="/" rel="noopener noreferrer">bcionescu.com</a>

<link rel="preload" href="/fonts/iAWriterMonoS-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Italic.woff2" as="font" type="font/woff2" crossorigin>

