<!-- header.html -->
<div class="top-links-container">
  <a class="top-left-link" href="https://bcionescu.com" rel="noopener noreferrer"><</a>
  <a class="top-left-link" href="https://youtube.com/@bcionescu" rel="noopener noreferrer">YouTube</a>
  <a class="top-left-link" href="https://github.com/bcionescu" target="_blank" rel="noopener noreferrer">GitHub</a>
  <a class="top-left-link" href="https://x.com/bcionescu_" target="_blank" rel="noopener noreferrer">X</a>
  <a class="top-center-link" href="/" rel="noopener noreferrer">bcionescu.com</a>
</div>

<link rel="preload" href="/fonts/iAWriterMonoS-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/fonts/iAWriterMonoS-Italic.woff2" as="font" type="font/woff2" crossorigin>
