<!-- header.html -->
<div class="top-links-container">
  <a class="top-left-link" href="/" rel="noopener noreferrer">Home</a>
  <a class="top-left-link" href="shop.bcionescu.com" rel="noopener noreferrer">Shop</a>
  <a class="top-left-link" href="/newsletter" rel="noopener noreferrer">Newsletter</a>
  <a class="top-center-link" href="/" rel="noopener noreferrer">bcionescu.com</a>
  </div>

<link rel="icon" href="favicon-16x16.png" type="image/png">
<link rel="icon" href="favicon-32x32.png" type="image/png">
<link rel="icon" href="favicon-96x96.png" type="image/png">
<link rel="icon" href="favicon-180x180.png" type="image/png">
<link rel="apple-touch-icon" href="apple-icon.png">
